@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-poppins select-none;
    }

    body {
        @apply bg-gray-900;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    ul,
    li {
        @apply text-white;
    }

    h1 {
        @apply text-xl lg:text-4xl font-semibold;
    }

    h2 {
        @apply text-xl lg:text-2xl font-semibold;
    }

    h3 {
        @apply text-xl lg:text-xl font-semibold;
    }

    h4 {
        @apply text-lg font-semibold;
    }

    li,
    p {
        @apply text-base;
    }

}

@layer components {
    .btn-primary {
        @apply py-2 px-5 bg-primary text-white font-semibold rounded-md shadow-md hover:bg-primaryLigth [text-shadow:_2px_2px_rgb(0_0_0_/40%)];
    }
}

.single-thumb .range-slider__thumb[data-disabled] {
    display: none;
    width: 0px;
}

.single-thumb .range-slider__thumb[data-upper] {
    background-color: #FFD700;
}

.single-thumb .range-slider__range {
    background-color: #DAA520 !important;
    border-radius: 4px;
}

.single-thumb input[type=range] {
    display: none;
}